.app {
  text-align: center;
  font-size: 30px;
}

#title {
  color: red;
  font-size: 75px;
}

#title-image {
  height:10vmin;
}

#logo {
  margin-left: 25px;
  animation: App-logo-spin infinite 1s linear;
  height:2.75vmin;
}

#table,th,td{
  border: 1px solid black;
  width: 50%;
}

th {
  height: 50px;
  color: red;
}

#status {
  color: rgb(13, 165, 107);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
